*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.legal-container {
  max-width: 1250px;
  /* margin: 120px auto 60px auto; */
  margin: 40px;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.7;
  color: #111;
}

.legal-main-heading {
  text-align: center;
  font-size: 28px;
  color: #111;
  margin-bottom: 20px;
  font-weight: 700;
  border: 2px solid #fff;
}


.legal-intro {
  text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
  color: #111;
}

.legal-section {
  margin-bottom: 40px;
  padding: 20px;
  background: #fff;
  border-left: 5px solid #c21e55;
  border-radius: 6px;
}

.legal-section h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #c21e55;
}

.legal-section ul {
  padding-left: 20px;
}

.legal-section li {
  margin-bottom: 8px;
  color: #111;
}

.legal-footer {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 600;
}

/* Responsive */

@media (max-width: 768px) {
  .legal-main-heading {
    font-size: 22px;
  }

  .legal-section {
    padding: 15px;
  }

  .legal-section h2 {
    font-size: 18px;
  }

  .legal-container {
    margin-top: 100px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
    .legal-container {
        margin: 5px;
    }
  .legal-main-heading {
    margin-top: 50px;
    font-size: 18px;
  }

  .legal-intro {
    font-size: 14px;
  }

  .legal-section h2 {
    font-size: 16px;
  }
}
